#不上传模型和数据
*.pth
*.ckpt
*.pt
Progress-1/week06/cache/
Progress-1/week06/exp1/
Progress-1/week06/GenAI-Hw5/
Progress-1/week06/output/
Progress-1/week09/Breeze-7B-Instruct-v0_1
Progress-1/week09/checkpoint-3
Progress-1/week09/checkpoint-7
Progress-1/week09/checkpoint-21
